[submodule "Stagger_Lock_Behaviour"]
	path = Stagger_Lock_Behaviour
	url = https://github.com/max-su-2019/Stagger_Lock_Behaviour
[submodule "extern/DKUtil"]
	path = extern/DKUtil
	url = https://github.com/gottyduke/DKUtil.git
[submodule "extern/CommonLibSSE-NG"]
	path = extern/CommonLibSSE-NG
	url = https://github.com/SkyHorizon3/CommonLibVR.git
	branch = ng
